[Unit]
Description=Apply the settings specified in cloud-config
After=network-online.target cloud-config.target
After=snapd.seeded.service
Wants=network-online.target cloud-config.target
ConditionPathExists=/snap/cloud-init
RequiresMountsFor=/snap/cloud-init/current

[Service]
Type=oneshot
ExecStart=/snap/cloud-init/current/usr/bin/cloud-init modules --mode=config
RemainAfterExit=yes
TimeoutSec=0
EnvironmentFile=/snap/cloud-init/current/etc/cloud/environment

# Output needs to appear in instance console output
StandardOutput=journal+console

[Install]
WantedBy=cloud-init.target
